.body-api{
    background-image: url(https://img.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg);
    background-size: cover;
    padding: 0 0 150px 0;
}
.page-align{
    padding: 0 0 150px 0;
}